* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conteiner {
    text-align: center;
    margin-top: 40px;
}

p {
    font-size: 40px;
}

.text1 {
    margin-top: 20px;
}

button {
    margin-top: 20px;
}